html {
    background-color:#333;
}


/*p {
    font-size: 16px;
    font-family: Verdana;
    border: 2px outset #610D0D;
    background-color: #CCCCCC; 
    float: left;
    height: 200px;
    width: 600px;
}*/
